*{
    margin: 0;
    padding: 0;
}

#titleBar{
    background-color: red;
    text-align: center;
}

#textArea{
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    text-align: center;
}

#inputArea{
    background-color: red;
    text-align: left;
}